.color--purple {
    color: #8e9ae6;
}

.color--orange {
    color: #fabf7c;
}

.color--blue {
    color: #8dc6f7;
}

.color--red {
    color: #ee9282;
}

.color--green {
    color: #7be5c8;
}

#dashboard {
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.dashboard__logo {
    width: 100%;
    min-height: 100px;
    background-image: url('../img/logo-landing.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 40%;  
    margin-bottom: 20px;
}

.dashboard__list {
    width: 100%
}

.dashboard__item {
    padding: 12px 20px;   
    border-radius: 25px 0 0 25px;
    position: relative;
    cursor: pointer;
}

.dashboard__item:hover {
    background-color: var(--white-color);
}

.dashboard__item:hover i,
.dashboard__item:hover a{
    color: var(--blue-color);
}

.dashboard__item a {
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
}

.dashboard__item i {
    color: var(--white-color);
    font-size: 20px;
    display: inline-block;
    width: 30%;
}

#container {
    width: calc(100% - 18%);
    margin-left: calc(100% - 82%);
}

.header {
    width: 100%;
    min-height: 240px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header__item {
    width: 18%;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.header__item:first-child {
    background-color: rgba(232, 225, 255, 0.5);
}

.header__item:nth-child(2) {
    background-color: #fff6e7;
}

.header__item:nth-child(3) {
    background-color: #fdeee8;
}

.header__item:nth-child(4) {
    background-color: #e9f8ff;
}

.header__item:last-child {
    background-color: #e5fffc;
}

.header__item i {
    font-size: 48px;
    padding-bottom: 28px;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.number {
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 22px;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}