#main {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.video__main {
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video__main img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 3px;
    border: 10px solid rgba(64, 169, 255, 0.8);
}

.object {
    width: 100%;
    height: 5%;
    font-size: 20px;
    padding-left: 20px;
    color: var(--blue-color);
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

.info__time {
    width: 40%;
    color: var(--blue-color);
    text-align: center;
    border-right: 3px solid var(--blue-color);
}

.info__code {
    width: 40%;
    color: var(--blue-color);
    text-align: center;
}

.function {
    width: 60%;
    display: flex;
}

.none {
    width: 20%;
}