#main {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.video__main {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video__main img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 3px;
    border: 10px solid rgba(64, 169, 255, 0.8);
}

.object {
    width: 100%;
    height: 5%;
    font-size: 20px;
    padding-left: 20px;
    color: var(--blue-color);
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

.info__time {
    width: 40%;
    color: var(--blue-color);
    text-align: center;
    border-right: 3px solid var(--blue-color);
}

.info__code {
    width: 40%;
    color: var(--blue-color);
    text-align: center;
}

.function {
    width: 60%;
    display: flex;
    justify-content: center;
}

.function button,
.function label {
    padding: 12px;
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--blue-color);
    color: #fff;
}

.function button {
    background-color: red;
    border: none;
}

.none {
    width: 20%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    width: 20%;
}