#main {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.video__main {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video__main img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 3px;
    border: 10px solid rgba(64, 169, 255, 0.8);
}

.object {
    height: 5%;
    font-size: 20px;
    padding-left: 20px;
    color: var(--blue-color);
    font-weight: 600;
}