.carousel-control-prev-icon {
    background-image: url('../img/back-arrow.png');
}

.carousel-control-next-icon {
    background-image: url('../img/right-arrow.png');
}

ol, ul {
    padding-left: 0px;
}