#main {
    width: 100%;
    position: relative;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid var(--blue-color);
    box-shadow: 0 10px 10px rgba(64, 169, 255, 0.2);
}