#main {
    width: 100%;
    position: relative;
}

.avatar {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 152px;
    border-radius: 50%;
    border: 10px solid var(--blue-color);
}