#header {
    width: 100%;
    height: 720px;
    background-image: url('../img/blue-artboard.png');
    background-position: 50%;
}

#header .navbar--wrap {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blue-color);
    z-index: 10;
}

.header__navbar {
    width: 88%;
    margin: 0 auto;
    display: flex;
}

.header__navbar .navbar__logo {
    width: 25%;
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo--landing {
    width: 124px;
    height: 72px;
    background-image: url('../img/logo-landing.png');
    background-repeat: no-repeat;
    background-size: 120px;
}

.header__navbar .navbar__list {
    width: 50%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__list .navbar__item {
    display: inline-block;
    padding: 0 24px;
}

.navbar__list .navbar__item a {
    padding: 8px 0px;
    color: #fff;
    font-weight: 600;
    transition: 0.2s;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0,08);
}

.navbar__list .navbar__item a:hover {
    border-bottom: 4px solid #fff;
}

.header__navbar .navbar__login {
    width: 25%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login--btn {
    background-image: linear-gradient(90deg, #fafafa, var(--blue-color));
    background-size: 200% auto;
    padding: 10px 32px;
    border-radius: 35px;
    color: var(--blue-color);
    margin-right: 16px;
    font-weight: 600;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.login--btn:hover {
    background-position: 100%;
    color: #f0f0f0;
}

.register--btn {
    padding: 10px 24px;
    background-image: linear-gradient(90deg, var(--blue-color), #fafafa, var(--blue-color));
    background-size: 200% auto;
    border-radius: 35px;
    color:  #f0f0f0;
    font-weight: 600;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.register--btn:hover {
    background-position: 100%;
    color: var(--blue-color);
}

.poster {
    width: 100%;
    height: 720px;
    display: flex;
}

.poster__text {
    padding-top: 160px;
    width: 50%;
}

.poster__text--title {
    width: 90%;
    font-size: 20px;
    color: var(--white-color);
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.poster__text--big {
    width: 90%;
    line-height: 120px;
    color: var(--white-color);
    font-weight: 800;
    font-size: 120px;
}

.poster__text--slogan {
    width: 90%;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.4;
    margin-top: 12px;
    margin-bottom: 40px;
}

.book {
    padding: 16px 32px;
    background-color: var(--white-color);
    color: var(--blue-color);
    border-radius: 35px;
    font-weight: 700;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
}

.book:hover {
    opacity: 0.8;
}

.poster__img {
    position: relative;
    width: 50%;
    margin-top: 72px;
}

.poster__img--png {
    width: 92%;
    height: 90%;
    position: absolute;
    top: 12px;
    right: -40px;
    border-bottom-left-radius: 46%;
    border-bottom-right-radius: 52%;
}

#service {
    width: 100%;
    height: 600px;
}

.service__text {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.servive__text--big {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.servive__text--big::after {
    content: "";
    display: block;
    width: 20%;
    margin: 12px auto;
    border: 1px solid var(--blue-color);
    margin-bottom: 24px;
}

.service__text--small {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    color: #888;
}

.service__about {
    width: 100%;
    background-color: aquamarine;
}

.service__img {
    height: 300px;
    background-color: aqua;
}

.service__img--png {
    
}