/*Mobile < 740px*/
@media (max-width: 46.1875em) {
    .dashboard {
        display: none;
    }

    .header__icon {
        width: 10%;
    }

    .header__search {
        width: 70%;
    }

    .header__time {
        display: none;
    }

    .header__news {
        width: 20%;
    }

    .header__label--bell {
        padding-right: 12px;
    }
    
    .menu__mobile {
        display: block;
        width: 70%;
        max-width: 100%;
    }

    .header__label {
        display: none;
    }

    .header__label--menu {
        display: block;
    }

    .about {
        flex-wrap: wrap;
    }

    .cv {
        width: 100%;
    }

    .info {
        width: 100%;
        margin-top: 40px;
    }

    .history,
    .appointment {
        overflow-y: scroll;
    }

    .note {
        display: block;
    }

    td {
        white-space: nowrap;
        padding-right: 20px;
    }
}

/*Tablet 740 - 1028px*/
@media (min-width: 46.25em) and (max-width: 64em) {
    .dashboard {
        display: none;
    }

    .header__icon {
        width: 10%;
    }

    .header__search {
        width: 70%;
    }

    .header__time {
        display: none;
    }

    .header__news {
        width: 20%;
    }

    .header__label--bell {
        padding-right: 12px;
    }
    
    .menu__mobile {
        display: block;
        width: 40%;
        max-width: 100%;
    }

    .header__label {
        display: none;
    }

    .header__label--menu {
        display: block;
    }

    .about {
        flex-wrap: wrap;
    }

    .cv {
        width: 100%;
    }

    .info {
        width: 100%;
        margin-top: 40px;
    }

    .history,
    .appointment {
        overflow-y: scroll;
    }

    .note {
        display: block;
    }

    td {
        white-space: nowrap;
        padding-right: 20px;
    }
}

/*PC Low 1028 - 1280px*/
@media (min-width: 64em) and (max-width: 80em) {

}