/*Tablet*/
@media (min-width: 46.25em) and (max-width: 64em) {
    .register__form {
        width: 80%;
    }

    .register__title {
        font-size: 40px;
    }

    .form {
        width: 80%;
    }

    .login__text {
        font-size: 20px;
    }

    .login__btn a {
        font-size: 20px;
    }

    .form__input {
        padding-bottom: 20px;
    }

    .register__label {
        font-size: 24px;
    }

    .register__input {
        font-size: 24px;
        padding: 8px 0px;
    }

    .register__select {
        font-size: 20px;
    }

    .button {
        padding: 12px 0px;
    }

    .form__logo--dif i{
        font-size: 48px;
    }
}

/*Mobile*/
@media (max-width: 46.1875em) {
    .register__form {
        width: 80%;
    }

    .register__title {
        font-size: 40px;
    }

    .form {
        width: 80%;
    }

    .login__text {
        font-size: 20px;
    }

    .login__btn a {
        font-size: 20px;
    }

    .form__input {
        padding-bottom: 20px;
    }

    .register__label {
        font-size: 24px;
    }

    .register__input {
        font-size: 24px;
        padding: 8px 0px;
    }

    .register__select {
        font-size: 20px;
    }

    .button {
        padding: 12px 0px;
    }

    .form__logo--dif i{
        font-size: 48px;
    }
}

/*Tablet & Mobile*/
@media (max-width: 64em) {

}