/*Tablet*/
@media (min-width: 46.25em) and (max-width: 64em) {
    #login {
        width: 80%;
        min-height: 500px;
        margin: 0 auto;
    }

    #header {
        width: 80%;
    }

    .login__logo {
        display: none;
    }

    .login__form {
        width: 80%;
        margin: 0 auto;
    }
}

/*Mobile*/
@media (max-width: 46.1875em) {

}

/*Tablet & Mobile*/
@media (max-width: 64em) {

}