@media (max-width: 36em) {
    .dashboard {
        display: none;
    }

    .nav {
        flex-wrap: wrap;
    }

    .nav__icon {
        width: 10%;
    }

    .nav__search {
        width: 85%;
    }

    .nav__news {
        width: 5%;
    }

    .nav__label--bell {
        padding-right: 12px;
        font-size: 28px;
    }

    .nav__avatar {
        display: none;
    }

    .nav__time {
        display: none;
    }

    .input__search--box {
        height: 40px;
    }
}

@media (min-width: 36em) {
    
}

@media (min-width: 48em) {
    
}

@media (min-width: 62em) {
    
}

@media (min-width: 75em) {
    
}