/*Tablet*/
@media (min-width: 740px) and (max-width: 1024px) {
    
}

/*Mobile*/
@media (max-width: 739px) {
    
}

/*Tablet & Mobile*/
@media (max-width: 1024px) {
    .navbar--wrap {
        display: none;
    }

    .navbar__mobile--wrap {
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
}