/*Mobile < 740px*/
@media (max-width: 46.1875em) {
    .dashboard {
        display: none;
    }

    .header__icon {
        width: 10%;
    }

    .header__search {
        width: 70%;
    }

    .header__time {
        display: none;
    }

    .header__news {
        width: 20%;
    }

    .header__label--bell {
        padding-right: 12px;
    }
    
    .menu__mobile {
        display: block;
        width: 70%;
        max-width: 100%;
    }

    .header__label {
        display: none;
    }

    .header__label--menu {
        display: block;
    }

    .header__label--bell {
        display: none;
    }

    .classify__option {
        flex-wrap: wrap;
    }

    .classify__option--aspects {
        width: 100%;
    }

    .classify__option--position,
    .classify__option--technology {
        width: 100%;
        margin-top: 20px;
    }

    .classify__item label {
        display: block;
    }
}

/*Tablet 740px - 1024px*/
@media (min-width: 46.25em) and (max-width: 64em) {

}

/*PC low 1024px - 1280px*/
@media (min-width: 64em) and (max-width: 80em) {

}