@media (max-width: 36em) {
    .dashboard {
        display: none;
    }

    .nav {
        flex-wrap: wrap;
    }

    .nav__icon {
        width: 10%;
    }

    .nav__search {
        width: 85%;
    }

    .nav__news {
        width: 5%;
    }

    .nav__label--bell {
        padding-right: 12px;
        font-size: 28px;
    }

    .nav__avatar {
        display: none;
    }

    .nav__time {
        display: none;
    }

    .input__search--box {
        height: 40px;
    }

    .header {
        display: none;
    }

    .earning {
        flex-wrap: wrap;
    }

    .report {
        width: 100%;
        flex-wrap: wrap;
    }

    .report__chart {
        width: 100%;
    }

    .report__text--big {
        margin: 12px 0px;
    }

    .chart {
        min-height: 250px;
        background-position: 50% 50%;
    }

    .report__descibe {
        width: 100%;
        text-align: center;
    }

    .earning__top {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .top__name {
        font-size: 20px;
    }

    .user {
        flex-wrap: wrap;
    }

    .user__interviewee {
        width: 100%;
        overflow-x: scroll;
        padding: 10px;
    }

    table {
        margin: 8px;
    }

    .note {
        width: 100%;
        margin-top: 20px;
    }   

    .note__item--label {
        font-size: 18px;
    }

    .task--text {
        justify-content: space-between;
    }

    .appointment {
        overflow-x: scroll;
        padding: 10px;
    }

    .news {
        flex-wrap: wrap
    }

    .news__interviewee,
    .news__interviewer {
        width: 100%;
        padding: 10px;
    }

    .news__interviewer {
        margin-top: 20px;
    }

    .feedback {
        flex-wrap: wrap;
    }

    .feedback__comments,
    .feedback__vote {
        width: 100%;
    }

    .feedback__vote {
        margin-top: 20px;
    }
}

@media (min-width: 36em) {
    
}

@media (min-width: 48em) {
    
}

@media (min-width: 62em) {
    
}

@media (min-width: 75em) {
    
}